<html>
  <header>

  </header>
<body>

<div class="container" style="width: 50%;" class="mat-elevation-z8" style=" margin-inline-start: 10px; margin-inline-end: 10px;" [hidden]="bandera">
    <mat-divider></mat-divider>


<table class="table-bordered table table-primary">
    <thead>
      <th>Número</th>
      <th>Nombre del grupo</th>
      <th>Descripción</th>
      <th>Fecha de Alta</th>
      <th>Operaciones</th>
    </thead>
    <tr *ngFor="let element of array | paginate: { itemsPerPage: 5, currentPage: page }">
          <td>{{element.grupId}}</td>
          <td>{{element.grupNombre}}</td>
          <td>{{element.grupDescripcion}}</td>
          <td>{{element.grupFechaAlta}}</td>
          <td>
            <div style="text-align: right;">
              <button mat-raised-button (click)="editar(element)"  title="editar" style="color:aliceblue; background-color:#66bb6a;"> 
               
               <span class="material-icons">
                border_color
                </span>
               
              </button> 
          
            
          
                &nbsp;
                <button mat-raised-button  (click)="borrar(element)"   style="color:aliceblue; background-color:#ff7043 ;">
                  
                <span class="material-icons">
                    clear
                </span>
          
                </button>
          
                &nbsp;
                <button mat-raised-button (click)="crear()"  style="color:aliceblue; background-color:#ba68c8; text-align: center;">
                  
                  <span class="material-icons">
                    add_circle_outline
                    </span>
          
                 </button>
                </div>
          </td>
    </tr>
</table>
<pagination-controls  
                      (pageChange)="page = ($event)"
                      previousLabel="Previous"
                      nextLabel="Next"
></pagination-controls>








<div [hidden]="!bandera">
  <form class="col s12" [formGroup]="formulario">
    <div class="container" style="text-align: center;">
    <div class="row">
  
    
      <div class="input-field col s12">
        <input placeholder="Nombre del grupo" id="Nombre" type="text" class="validate" formControlName="grupNombre" onkeypress="return (event.charCode >= 65 && event.charCode <= 122)" required>
        <label class="active" for="Nombre">*Nombre del grupo</label>
        <div *ngIf="formulario.controls['grupNombre'].invalid" class="text-danger" style="color:#d81111;  font: bold 70% monospace;">*Nombre de tarea requerido*</div>
      </div>
   
      <div class="input-field col s12">
        <input placeholder="Descripción" id="Descripción" type="text" class="validate" formControlName="grupDescripcion" onkeypress="return (event.charCode >= 65 && event.charCode <= 122 || event.charCode == [32])" required> 
        <label class="active" for="Descripción">*Descripción</label>
        <div *ngIf="formulario.controls['grupDescripcion'].invalid" class="text-danger" style="color:#d81111;  font: bold 70% monospace;">*Descripción requerida*</div>
      </div>

      <div class="input-field col s12" style="font-weight: bold">
        <input type="text" id="FechaAlta" readonly="readonly" formControlName="grupFechaAlta"/>
        <label class="active" for="FechaAlta">Fecha de alta</label>
      </div>
    
      <a class="waves-effect waves-light btn" style="margin-top: 100px;"(click)="cancelar()" ><i class="material-icons right">cloud_off</i>Cancelar</a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <button class="btn waves-effect waves-light" style="margin-top: 100px;" (click)="guardarGrupoServicio()"  type="submit" name="action">Guardar<i class="material-icons right">cloud_done</i></button>
    
    </div> 
  </div>  
  </form>
  
<div *ngIf="grupoServ && grupoServ.grupId && bandera">
  <app-servicio-grupo [grupId]="grupoServ.grupId"></app-servicio-grupo> 
</div>

</div>



</div>

</body>




<footer>
<router-outlet></router-outlet>
</footer>
</html>