
<body style="background-color:rgba(218, 216, 212, 0.377)">
    <div style="width: 50%;" class="mat-elevation-z8" style=" margin-inline-start: 10px; margin-inline-end: 10px;" >
      
    <ul style="text-align: center;">
         <img src="assets\icon.png"  style=" z-index: -100; opacity: 0.75;">
    </ul>
      <br>
        <h2 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVICIO DE CONTROL PARA FLOTAS</h2>
       
        <br>
        <br>
        <br>
        <mat-divider></mat-divider>
          <a routerLink="/GrupMovil" class="button" mat-raised-button > <mat-icon>table_view</mat-icon> Grupo de moviles </a>
      
       
          
          <a routerLink="/Serv" class="button" mat-raised-button > <mat-icon>assignment</mat-icon> Servicios </a>
      
        
         
          <a routerLink="/Tareas" class="button" mat-raised-button ><mat-icon>account_box</mat-icon> Tareas </a>
    
          
        </div>




         
       
       

    <router-outlet></router-outlet>

</body>
  
        
<footer>
  <div class="mat-elevation-z8" style=" margin-inline-start: 10px; margin-inline-end: 10px;" >
  <p>
    <mat-toolbar>
      <span>@copyright</span>
    </mat-toolbar>
  </p>
</div>
</footer>